.rigth_bar {
    width: 15%;
    top: 5.2rem;
    position: sticky;
    z-index: 7;
    margin: .7rem .6rem;
    max-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
  }

  .fab {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    color: var(--main-text-light);
    height: 48px;
    border-radius: 50px;
    transition: var(--transition-background);
    box-shadow: 0 2px 8px -3px rgb(0 0 0 / 80%);
    cursor: pointer;
    user-select: none;
  }
  .fab:hover {
    background-color: var(--accent-color-tint)
  }
  .fab span {
    margin-right: .8rem;
  }
  .fab i {
    font-size: 20px;
  }
  .fab.secondary {
    background-color: var(--secondary-bg-tint);
    box-shadow: initial;
    margin-top: auto;
  }